.c-green {
    color: #7DAD52;
}
.b-green {
    background-color: #7DAD52;
}

.c-blue {
    color: #1A9DFF;
}
.b-blue {
    background-color: #1A9DFF;
}

.c-ink {
    color: #243689;
}
.b-ink {
    background-color: #243689;
}

.c-orange {
    color: #E17F38;
}
.b-orange {
    background-color: #E17F38;
}

.c-carmine {
    color: #AD1B34;
}
.b-carmine {
    background-color: #AD1B34;
}