@import "../node_modules/normalize.css/normalize.css";

@import "colors.css";
@import "helpers.css";

@import "buttons.css";
@import "search.css";
@import "events-list.css";
@import "polls-list.css";
@import "mediacatalog-fav.css";
@import "mediacatalog-like.css";
@import "mediacatalog-items.css";
@import "mediacatalog-item.css";

* {
    box-sizing: border-box;
}

html {
    background-color: #F2F2F2;
    font-size: 14px;
}

body {
    background-color: #F2F2F2;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #373737;
}

.main-wrapper {

}

.wrapper {
    padding-left: 10px;
    padding-right: 10px;
}