* {
  box-sizing: border-box;
}

html {
  background-color: #F2F2F2;
  font-size: 14px;
}

body {
  background-color: #F2F2F2;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #373737;
}

.main-wrapper {

}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}