@import "../node_modules/normalize.css/normalize.css";
@import "base.pcss";
@import "colors.pcss";
@import "helpers.pcss";
@import "buttons.pcss";
@import "search.pcss";
@import "events-list.pcss";
@import "polls-list.pcss";
@import "mediacatalog-fav.pcss";
@import "mediacatalog-like.pcss";
@import "mediacatalog-items.pcss";
@import "mediacatalog-item.pcss";
@import "tasks-list.pcss";
@import "courses-catalog.pcss";
@import "courses-item.pcss";
@import "helpdesk.pcss";